<h2>Yoga Instructors</h2>
<ul class="instructors">
  <li *ngFor="let instructor of instructors">
  <a routerLink="/detail/{{instructor.id}}">
    <span class="badge">{{instructor.id}} </span> {{instructor.firstName}}
    </a>
    <button class="delete" title="delete instructor"
        (click)="delete(instructor)">x</button>
        </li>
        </ul>
    <div>
      <label>Instructor name:
        <input [(ngModel)]="firstName" id="instructorFirstName" #instructorFirstName />
        <input [(ngModel)]="lastName" id="instructorLastName" #instructorLastName />
        </label>
        <button (click)="add();">
          ADD
          </button>
          </div>
